.ComparisonTable {
	margin: auto;
}

.ComparisonTable th {
	padding: 0.25em;
}

.ComparisonTable tbody td {
	text-align: center;
	border: 1px solid #aaa;
	padding: 0;
}

.ComparisonTable--complete tbody td {
	border-color: #09c;
}

/* Rotations */

.ComparisonTable {
	/* Rotate entire table */
	transform: rotate(0.125turn);
}

.ComparisonTable .ComparisonTableHeaderCell--vertical .ComparisonTableHeaderCell-text {
	/* Right side heading text */
	/* TODO: Flex alignment no longer respected when transforming */
	transform: rotate(0.5turn);
}

.ComparisonTable .ComparisonToggleButton-inner {
	/* Comparison symbols */
	transform: rotate(-0.125turn);
}
