.ComparisonTableDataCell--is-empty {
	background-color: #fff;
}

.ComparisonTableDataCell--is-equal {
	background-color: #ddd;
}

.ComparisonTableDataCell--is-implicit {
	background-color: #eee;
}

.ComparisonTableDataCell--is-explicit {
	background-color: hsl(200, 80%, 80%);
}

.ComparisonTableDataCell--is-last {
	background-color: hsl(200, 80%, 60%);
}
